#banner_two{
    background: black;
    padding: 319px 0px 120px 0px;
    .img{
        width: 100%;
        max-width: 100%;
    }
    .banner_right{
        h6{
            font-family: 'Open Sans';
            color: #FBD784;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 6px;
            text-transform: uppercase;
        }
        h2{
            margin-top: 13px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 87px;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 496px;
            height: 261px;
        }
        p{
            margin-top: 13px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            color: white;
        }
        a{
            margin-top: 66px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            color: #FBD784;
        }
    }
}

//<!--Banner part Start three-->
#banner_three{
    .element{
        position: relative;
    }
    .element img{
        width: 100%;
        max-width: 100%;
    }
    .item{
        position: absolute;
        h6{
            margin-top: -505px;
            font-family: 'Open Sans';
            color: #FBD784;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 6px;
            text-transform: uppercase;
            text-align: center;
        }
        h2{
           
            margin-top: 13px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 87px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
        }
        p{
            width: 893px;
            height: 96px;
            margin-top: 13px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            color: white;
            text-align: center;
            margin-left: 17%;
        }
        a{
            margin-top: 66px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            color: #FBD784;
            margin-left: 45%;
        }
    }
}


// <!--Banner part Start four-->

#banner_three{
    .banner_left{
        h6{
            font-family: 'Open Sans';
            color: #FBD784;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 6px;
            text-transform: uppercase;
        }
        h2{
            margin-top: 13px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 87px;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 663px;
            height: 261px;
        }
        p{
            margin-top: 19px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            color: white;
        }
        a{
            margin-top: 66px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            color: #FBD784;
        }
    }
    .img{
        width: 100%;
        max-width: 100%;
    }
}
// <!--Banner part END four-->


// footer start


